@charset "UTF-8";

body {
  background: #b4b4b4;
  font-family: sans-serif;
}

h1,
h2,
h3 {
  text-align: center;
}

.select-wrapper {
  max-width: 160px;
  margin: 0 auto;
}

.container {
  max-width: 260px;
  margin: 0 auto;
}

.submit-btn {
  cursor: pointer;
  color: #fff;
  font-size: 18px;
  display: block;
  margin: 42px auto;
  padding: 22px 10px;
  width: 300px;
  background: #7fd36c;
  border: none;
  -webkit-appearance: none;
}
