@charset "UTF-8";

body {
  background: #b4b4b4;
  font-family: sans-serif;
}

h1,
h2,
h3 {
  text-align: center;
}

.select-wrapper {
  max-width: 160px;
  margin: 0 auto;
}

.container {
  max-width: 260px;
  margin: 0 auto;
}
