$optionHeight: 50px;

.ms-wrapper {
  font-family: sans-serif;
  position: relative;
}

.ms-title {
  background: #fcfcfc;
    border-radius: 1px;
    box-shadow: 1px 1px 1px 0px #ccc;
    cursor: pointer;
    font-size: 14px;
    line-height: 40px;
    overflow: hidden;
    padding: 0 16px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index: 2;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
    &:before {
      content: '';
      border: 3px solid #333;
      border-bottom-color: rgba(255,255,255,0.001);
      border-left-color: rgba(255,255,255,0.001);
      position: absolute;
      right: 8px;
      top: 14px;
      height: 0;
      transform: rotate(135deg);
      width: 0;
    }
    &:hover {
      background: #fafafa;
    }
}

.ms-title_custom-icon {
  &:before {
    border: none;
    transform: initial;
  }
}

.ms-title__icon {
  background-size: contain;
  background-repeat: no-repeat;
  height: 15px;
  width: 15px;
  transform: translateY(-50%);
  position: absolute;
  right: 8px;
  top: 50%;
}

.ms-dropdown {
  background: #fff;
  box-shadow: 1px 1px 0px 0px #bbb;
  height: 0;
  overflow-x: hidden;
  overflow-y: auto;
  list-style: none;
  padding: 0;
  margin: 0;
  transition: height 200ms ease-in-out;
}

.ms-dropdown_noflow {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.ms-dropdown_up {
  transform: translateY(calc(-100% - 40px));
}

.ms-wrapper_active {
  .ms-dropdown {
    height: 200px;
  }
  .ms-title:before {
    transform: rotate(-45deg);
    top: 18px;
  }
}


.ms-dropdown__item {
  cursor: pointer;
  padding: 16px;
  &:hover {
    background: #f7f7f7;
    color: #333;
  }
}

.ms-dropdown__item_active {
  background: #4495cc;
  color: #fff;
  &:hover {
    background: #4495cc;
    color: #fff;
  }
}
